.list>li>a {
    color: #fff !important;

    list-style: none;
}
.list li{
    color: #fff !important;
}

.list>li {
    /* margin-bottom: 15px;  */
    padding: 4px !important;
}


.list li:hover {
    background-color: rgb(63, 100, 209) !important;
    border-radius: 7px;
}

.list {
    list-style: none;
}

.iconArrow {
    margin-right: 0px
}