* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*.title {
  background-color: rgb(79, 79, 75);
  padding: 3px 0px;
  color: white;
} */
 .bg{
  background-color: rgb(63, 100, 209)!important;
  color:#fff;
 }

.row {
  gap: 0px !important;
}

a {
  text-decoration: none !important;
  color: black !important;
}


.down-arrow {
  margin-left: 124px;
}

.sub_menu {
  display: none !important;
}

.list-subgroup {
  transition: all 5s ease !important;
}

.sign-up {
  border: 2px solid;
  margin-left: auto;
  margin-right: auto;
}

.userIcon{
  font-size: 55px;
}

.container1{
  width:600px !important;
  height: 500px;

} 

.bookIcon{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -55px;
    border-radius: 60px;
    background:linear-gradient(to top,rgb(33, 46, 63), rgb(63, 100, 209));
    color: white;
    padding: 5px;
    padding: 0px 10px;
}

.custom-link-effect:hover{
   color:rgb(18, 113, 238)!important ;
}

